body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    text-align: left;
    font-size: 16px;
    /* background-color: white; */
    color: black;
}
.background {
    width: 100%;
    height: 100%;
    background-image: url('../img/edu.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(4px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* Form container */
.form-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    margin: 30px auto;
    overflow: hidden;
    position: relative;
    z-index: 10;
}

/* Image Section */
.image-section {
    position: relative;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-section h2 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

/* Form Section */
.form-section {
    padding: 40px;
}

.form-section h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.form-group {
    margin-bottom: 15px;
}

.form-control {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.verification-container {
    display: flex;
    align-items: center;
}

.verification-container img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    margin-right: 10px;
}

.forgot-password {
    display: block;
    margin-top: 5px;
    color: #007bff;
    text-decoration: none;
}

.forgot-password:hover {
    text-decoration: underline;
}

/* Button Styles */
.btn-login {
    background-color: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #0056b3;
}

.circle-btn-container {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 3px;
    margin-top: 3px;
    
  }
  
  /* Circular Button Style */
  .circle-btn {
    width: 40px; /* Adjust size as needed */
    height: 40px;
    border-radius: 50%;
    background-color: #bfd2e7; /* Bootstrap primary color */
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    opacity: 0.8; /* Reduce opacity */
    transition: opacity 0.3s, background-color 0.3s;
    
  }
  
  /* Icon styling */
  .circle-btn i {
    font-size: 1.2rem; /* Adjust icon size as needed */
    color: white; /* Icon color */
  }
  
  /* Hover effect */
  .circle-btn:hover {
    opacity: 1;
    background-color: #818a94; /* Darker shade on hover */
  }
  
  @media (max-width: 768px) {
    .circle-btn-container{
      display: none;
    }
  }
  